<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Off Your Chest</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <% if (user) { %>
    &nbsp;|&nbsp;
    <a href="/posts">All Posts</a>
    &nbsp;|&nbsp;
    <a href="/posts/new">Add A Post</a>
    &nbsp;|&nbsp;
    <a href="/logout">LOG OUT</a>
    <% } else { %> 
    <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>