<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Secret Safe</title>
</head>
<body>
  <nav id="navBar">
    <img id="logo" src="/images/logo.svg" alt="safe logo">
    
    <% if (user) { %>
    <a href="/">Home</a>
    &nbsp;|&nbsp;
    <a href="/posts">All Posts</a>
    &nbsp;|&nbsp;
    <a href="/posts/new">Add A Post</a>
    &nbsp;|&nbsp;
    <a href="/logout">LOG OUT</a>
    <% } else { %> 
    <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
  </nav>
    <h2 id="title"><%= title %></h2>
  <main>  