<%- include('../partials/header') %>

<form method="POST" action="/posts">
    <label>Post Title:</label>
    <input type="text" name="title" placeholder="What's the post about?">
    <br>
    <label>Content:</label>
    <input type="text" name="content" placeholder="Get it off your chest...">
    <br>
    <label>Allow Comments:</label>
    <input type="checkbox" name="allowComment">
    <br>
    <button type="submit">Create</button>
</form>

<%- include('../partials/footer') %>