<%- include('../partials/header') %>

<form id="create" method="POST" action="/posts">
    <label class="new">Post Title:</label> 
        <input type="text" name="title" placeholder="What's the post about?">
    <br>
    <label class="new">Content:</label>
        <textarea name="content" rows="10" cols="50" placeholder="Get it off your chest..."></textarea>
    <br>
    <label class="new">Allow Comments:</label>
    <input class="new" type="checkbox" name="allowComment">
    <br>
    <button id="createBtn" type="submit">Create Post</button>
</form>

<%- include('../partials/footer') %>